#Create_Service_section {
    width: 100%;
    display: flex;
    overflow: auto;
    padding: 10px;
}

#Create_Service_form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
}

.Create_Service_inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    justify-content: center;
    margin: auto;
}

.Create_Service_inputs>label {
    display: flex;
    width: auto;
    text-align: center;
    padding: 10px;
}
.Create_Service_inputs>textarea{
    max-width: 400px;
    max-height: 200px;
    min-width: 151px;
    min-height: 66px;
}