.payment-confirmation-container {
    width: 100%;
    height: 14%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }
  
  .payment-confirmation-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .payment-confirmation-container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .payment-confirmation-container ul {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
  }
  
  .payment-confirmation-container li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .payment-confirmation-container p:last-of-type {
    margin-bottom: 0;
  }